<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>

<body>
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
    <h2>Profesores</h2>
    <p>Las profesores que actualmente figuran en el sistema son las siguientes:</p>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor : ${professorList}">
                <td scope="row" th:text="${professor.id}"> 1</td>
                <td th:text="${professor.dni}"> Ejercicio 1</td>
                <td th:text="${professor.name}"> Ejercicio 1</td>
                <td th:text="${professor.apellido}">Ejercicio 1</td>
                <td th:text="${professor.categoria}"> Ejercicio 1</td>
                <td><a th:href="${'/professor/details/' + professor.id}">detalles</a></td>
                <td><a th:href="${'/professor/edit/' + professor.id}">modificar</a></td>
                <td><a th:href="${'/professor/delete/' + professor.id}">eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
	<div th:if="${#lists.isEmpty(professorList)}"> No professors </div>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
