<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
    <h2>Notas</h2>
    <p>Las notas que actualmente figuran en el sistema son las siguientes:</p>
    <button type="button" id="updateButton" class="btn btn-primary">Actualizar</button>
    <script>
        $("#updateButton").click(function () {
            $("#tableMarks").load('/mark/list/update');
        });
    </script>

</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>
